/* the teal color is 46DABF (at 70% opacity) 
just layered with the background photos (at 40% opacity). 
A Figma plugin, "Freepik" under a "library" search. */
/* background-image: linear-gradient(180deg, rgba(255,255,255,
0) 0, rgba(0,0,0,0.6) 0),url(images/image.jpg); */

/* background-image: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(0,0,0,0.6) 0),url(images/image.jpg);
https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image
https://medium.com/@codefoxx/how-to-easily-add-an-image-overlay-to-your-images-with-css-e354a79f530d */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    display: flex;
    flex-direction: vertical;
    justify-content: center;
    padding: 3px;
    margin-bottom: 50px;
    width: 100%;
}


nav a {
    display: flex;
    margin: 2px;
    padding: 1px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    spacing: 40px;
}
/* why are these non functional? */

body {
    display: flex;
    width: 100%;
    height: 2400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./assets/Homepage\ Background.jpg");
}

.wrapper {
    width: 100%;
    height: 2400px;
    background-color: RGB(72, 217, 191, .90);
    z-index: -1;
    opacity: 0.7;
    position: absolute;
}

.logo {
    position: fixed;
}
/* if I have this fixed, how do I put it before tother items? Should I just tie it to the first box? IF so, how? */

.bigBox{
    height: 600px;
    margin: 40px;
    background-color: RGB(198, 219, 216, .99);
    opacity: 0.9;
    border-radius: 10px;
}

h1, p {
    text-align: center;
}

.bigBox .bigImage{
    width: 50%;
    height: 60%;
    margin: auto;
    margin-bottom: 10px;
}
.bigBox .bigImage img{
    margin-top: 20px;
    width: 100%;
    height: 95%;
}
.bigBox .smallBox{
    width: 50%;
    height: 35%;
    margin: auto;
    border: 1px solid red;
}
/* How do I prevent the transparency in the text */

.search {
    background-color: #67DBC7;
    cursor: pointer;
    margin: 30px;
    padding: 30px;
    opacity: 100%;
    /* how do i make this opaque */
    /* how do i center this */
}

/* background image should be body, inside the body, 
create a div and the color should be in there */


/* background: url('../img/bg/diagonalnoise.png');
background-color: rgba((70,218,191) */